.footer {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  padding-top: 70px;

  width: 100%;

  background-image: url("../img/guitar-footer.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 821px 244px;

  &::before {
    content: "";

    width: 100%;
    height: 6px;

    background: #3f3f3f;

    position: relative;

    top: -10px;
    left: 0;
  }
}
