.card__rating {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #9F9E9E;

  margin: 0;
  padding: 0;
}
