.pages__button-next {
  width: 80px;
  height: 24px;

  margin: 0;
  padding: 0;

  background: #FFFFFF;
  border: 0.7px solid #9F9E9E;
  box-sizing: border-box;
  border-radius: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
}
